.aboutPage li{
    list-style-type: none;
}

.aboutPage{
    width: 100vw;
    background-color: bisque;
}

li>a:hover{
    color: red;
}
.nav{
    display: flex;
    width: 100vw;
    justify-content: center;

}
.nav li {
    margin: 0 5px;
    font-size: 1.5em;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}
.container h1{
    font-size: 3em;
}
.container p{
    font-size: 1.5em;
    line-height: 2;
}